#time {
   font-family: 'Abel', sans-serif;
   font-size: 30px;
}

.clock-container {
    width: 420px;
    height: 262px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    color: aliceblue;
    font-size: 30px;
    background-image: url("https://img02.fireden.net/co/image/1504/45/1504452077769.jpg");
    /* background-color: aliceblue */
}

.clock-titles {
    padding: 5px;
}

.clock-background {
    display: flex;
    justify-content: center;
}

.tab-header-container {
    display: flex;
    justify-content: center;
}

.tab-headings {
    padding: 5px;
}

.tab-content-container {
    display: flex;
    justify-content: center;
}