#time {
   font-family: 'Abel', sans-serif;
   font-size: 30px;
}

.clock-container {
    width: 420px;
    height: 262px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    color: aliceblue;
    font-size: 30px;
    background-image: url("https://img02.fireden.net/co/image/1504/45/1504452077769.jpg");
    /* background-color: aliceblue */
}

.clock-titles {
    padding: 5px;
}

.clock-background {
    display: flex;
    justify-content: center;
}

.tab-header-container {
    display: flex;
    justify-content: center;
}

.tab-headings {
    padding: 10px;
    border: 3px solid green;
    border-radius: 2px;
    display: flex;
    width: 50px;
    justify-content: center;
}

.tab-content-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    /* height: 200px;
    width: 200px; */

    align-self: center;
}

.article {
    border: 3px solid green;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}